@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to the pizzeria !!!</h2>
    </div>
</div>


<div class="row text-center">
    <div class="col">
        <img src="~/images/banner2.jpg" class="w-50 img-fluid img-thumbnail"/>
    </div>
</div>