@page
@model WebASPPizzaTime.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col text-center">
        <img src="~/images/NotFound.png" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h1>Не найдено</h1>
        <a asp-page="/Commodityes/Commodityes" class="btn btn-primary">Click here to get back to Commodityes list page</a>
    </div>
</div>